@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-bg: #28a745; /* Green color for the button */
  --button-text: #ffffff; /* White text for the button */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
    --button-bg: #28a745; /* Green color for the button */
    --button-text: #ffffff; /* White text for the button */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
